﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<html>
<head>
    <!-- Use Unicode character encoding to ensure multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device to 1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NP Book Rentals</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">

</head>
<body>
    <div class="container" id="mainContainer">
        <!-- 1st row -->
        <div class="flex-container">
            <!-- Flexbox for logo, auto-expand in the container -->
            <div style="flex:auto;">
                <img id="imgNPLogo" src="~/images/nplogo.gif" />
            </div>
            <!-- Flexbox for staff login -->
            <div>
                <form method="post" action="~/Home/StaffLogin">
                    <fieldset class="loginFieldset">
                        <legend>Staff Login</legend>
                        <label for="txtLoginID">Login ID:</label>
                        <input type="email" name="txtLoginID" id="txtLoginID" required /><br />
                        <label for="txtPassword">Password:</label>
                        <input type="password" name="txtPassword" id="txtPassword" style="width:100px" required />
                        <input type="submit" id="btnStaffLogin" class="myButton" value="Login" />
                        <br />
                        <span style="color:deepskyblue;">@TempData["Message"]</span>  <!--Error message if invalid login-->
                    </fieldset>
                </form>
            </div>
            <!-- Flexbox for student login -->
            <div>
                <fieldset class="loginFieldset">
                    <legend>Student Login</legend>
                    <p>
                        <a href="~/Home/StudentLogin" class="myButton">Microsoft Login</a>
                    </p>
                </fieldset>
            </div>
        </div>
        <!-- 2nd row -->
        <div>
            <div style="text-align: center;">
                <p>
                    <img id="imgLogo" src="~/images/logo.jpg" style="width: 100%" />
                </p>
            </div>
        </div>
    </div>
</body>
</html>
